.selectdiv {
    position: relative;
    float: left;
    min-width: 200px;
}

.selectdiv:after {
    content: "\2193";
    font: normal normal normal 17px/1 FontAwesome;
    color: gold;
    right: 10px;
    top: 6px;
    height: 22px;
    padding: 15px 0px 0px 8px;
    border-left: 1px solid gold;
    position: absolute;
    pointer-events: none;
}

select::-ms-expand {
    display: none;
}

.selectdiv select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    max-width: 320px;
    height: 40px;
    float: right;
    margin: 5px 0px;
    padding: 0px 24px;
    font-size: 16px;
    line-height: 1.75;
    color: #333;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid gold;
    -ms-word-break: normal;
    word-break: normal;
}

#Male {
    background-color: #22a8db;
}

#Female {
    background-color: #ea4c89;
}

#Other {
    background-color: #960058;
}