* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.selector {
    width: 250px;
    z-index: 1;
}

#selectField {
    width: 100%;
    padding: 15px 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: transparent;
    transition: all 0.3s;
}

#selectField:hover {
    border-color: #658ec6;
}

#selectField img {
    width: 12px;
}

#list {
    position: absolute;
    width: 250px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 6px;
    overflow: hidden;
    z-index: 3;
}

.options {
    position: relative;
    width: 100%;
    padding: 15px 0px 15px 70px;
    list-style: none;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 0.3s;
}

.options img {
    width: 25px;
    position: absolute;
    top: 12px;
    left: 25px;
    pointer-events: none;
}

.options:hover {
    background: rgba(255, 255, 255);
    box-shadow: 2px 2px 10px lightgrey;
}

.hide {
    opacity: 0;
    visibility: hidden;
}

.rotate {
    transform: rotate(180deg);
}